.page-container {
  background: linear-gradient(180deg, #0b132b, #1c2541);
  background-image: url("../assets/contact.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.page-title {
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
  font-weight: bold;
}

.page-description {
  text-align: center;
  font-size: 18px;
  max-width: 700px;
  margin: 20px auto;
}

.footer {
  text-align: center;
  padding: 20px;
  color: #ccc;
}
